<h1>Posts</h1>

<p>
  Post count: <%= @post_count %>
</p>

<% @posts.each do |post| %>
  <% Rails.cache.fetch "posts/#{post.id}/#{post.updated_at}" do %>
    <%= render partial: "preview", locals: { post: post } %>
  <% end %>
<% end %>
